/* 
// Maing catalog styles
*/

.outer_container{
    height: 100vh;
    width: 100vw;
    background:#DDDDDD;
}

.main_catalog{
    width:70vw;
    background: white;
    margin: 20px auto;
    min-height: 50vh;
    border: 2px solid #BBBBBB;
    overflow: scroll;
}

.main_catalog .left{
    float: left;
    width: 20%;
    /* background:yellow; */
    border-right: 2px solid #DDDDDD;
}

.main_catalog .right{
    float: right;
    width:80%;
    padding-left: 5%;
    /* background: red; */
}

.catalog_heading{
    color: #001C43;
    font-weight: bold;
    font-size: 2em;
}

.left li, .right li{
    list-style: none;
    padding: 0;
}

a{
    color: #F33D00;
}

a:hover{
    color: #F33D00;
}

.heading_1{
    padding-left: 1em;
}

.categories_list li{
    padding-bottom: .5em;
    font-size: 1.3em;
}

.add_new_item{
    font-size: 1.3em;
}

.right p{
    padding-top: 1em;
    margin-bottom: 0;
}

/* .right h2{
    margin-top: 0;
} */

.latest_items_list li{
    font-size: 1.3em;
    margin-left: -2em;
    margin-bottom: 0.5em;
}

.category_subtle{
    color: #A1A4A7;
    font-style: italic;
}