<html>
    <head>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="outer_container">
            <nav>
                <div class="inner_nav">
                    <h1>Catalog App</h1>
                    <button>Login</button>
                </div>
            </nav>
            <div class="main_catalog">
                <div class="left">
                    <h2>Catalog</h2>
                    <ul>
                        <li>Soccer</li>
                        <li>Basketball</li>
                        <li>Baseball</li>
                        <li>Frisbee</li>
                        <li>Snowboarding</li>
                        <li>Foosball</li>
                    </ul>
                </div>
                <div class="right">
                        <h2>Latest Items</h2>
                        <ul>
                            <li>Stick (Hockey)</li>
                            <li>Goggles (Snowboarding)</li>
                        </ul>
                    </div>
            </div>
        </div>
    </body>
</html>