{% extends "bootstrap/base.html" %}
{% block title %} 
    Item Catalog - Homepage
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
{% endblock %}

{% block body %}
<div class="outer_container">
    {% include 'nav.html' %}
    <div class="main_catalog">
        <div class="left">
            <h2 class="catalog_heading">Categories</h2>
            <ul>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'soccer', _external=True)}}">Soccer</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'basketball', _external=True)}}">Basketball</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'baseball', _external=True)}}">Baseball</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'frisbee', _external=True)}}">Frisbee</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'snowboarding', _external=True)}}">Snowboarding</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'rock_climbing', _external=True)}}">Rock Climbing</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'foosball', _external=True)}}">Foosball</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'skating', _external=True)}}">Skating</a></li>
                <li><a href="{{ url_for('ItemsByCategory', category_name = 'hockey', _external=True)}}">Hockey</a></li>
            </ul>
        </div>
        <div class="right">
                <h2 class="catalog_heading">Latest Items</h2>
                <ul>
                    <li>Stick (Hockey)</li>
                    <li>Goggles (Snowboarding)</li>
                </ul>
            </div>
    </div>
{% endblock %}
        
