<nav class="navbar navbar-default item_catalog_nav">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" id="item_catalog_brand" href="{{ url_for('Home') }}">Catalog App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default item_catalog_login_button" data-toggle="modal" data-target="#myModal">
            {% if current_user.is_authenticated %}
            <a href=" {{ url_for('Logout') }}">Log out</a>
            {% else %}
            <a href=" {{ url_for('Login') }}">Log in</a>
            {% endif %}
            </button>
        </form>
</nav>