<nav class="navbar navbar-default item_catalog_nav">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" id="item_catalog_brand" href="{{ url_for('Home') }}">Catalog App</a>
    </div>
        <ul class="nav navbar-nav navbar-right item_catalog_login_button">
            <li>
                {% if login_session['username'] %}
                <a href=" {{ url_for('gdisconnect') }}" class="login_color">Log out</a>
                {% else %}
                <a href=" {{ url_for('Login') }}" class="login_color">Log in</a>
                {% endif %}
            </li>
        </ul>
</nav>