{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %} 
    Item Catalog - Add item
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block body %}
<div class="outer_container">
    {% include 'nav.html' %}
    <div class="form_container">
        <h2>Add new item</h2>
        <div class="form">
            {{ wtf.quick_form(new_item_form) }}
        </div>
    </div>
{% endblock %}
        
